.CategoriesDataCard{
    background-color: var(--card-background-color);
    border-radius: 10px;
    margin: 5px 2px;
    padding: 15px;
    overflow: hidden;
    box-shadow: var(--card-box-shadow);
}

.CategoriesDataCard h2{
    color: var(--header-color);
}

.categoryTile:hover{
    background-color: var(--ct-hover-background-color);
}

.CategoriesContent{
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5px 0;
}

.categoryItemIcon{
    display: inline;
    color: var(--icon-color);
    background-color: var(--icon-background);
    font-size: larger;
    margin: 3px;
    padding: 3px 6px;
    border-radius: 6px;
}

.categoryTile{
    display: inline-block;
    background-color: var(--global-background-color);
    color: var(--rt-text-color);
    overflow: hidden;
    padding: 10px;
    margin: 3px;
    border-radius: 10px;
    border: 1px dotted purple;
    font-size: medium;
    font-weight: 600;
}

.noCategories{
    text-align: center;
    width: 100%;
    margin: auto;
    font-weight: 600;
    color: var(--rt-text-hover-color);
}