.CategoriesDataCard{
    background-color: white;
    border-radius: 10px;
    margin: 5px 2px;
    padding: 15px;
    overflow: hidden;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.categoryTile:hover{
    background-color: rgb(232, 213, 250);
}

.CategoriesContent{
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5px 0;
}

.categoryItemIcon{
    display: inline;
    color: var(--icon-color);
    background-color: var(--icon-background);
    font-size: larger;
    margin: 3px;
    padding: 3px 6px;
    border-radius: 6px;
}

.categoryTile{
    display: inline-block;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    padding: 10px;
    margin: 3px;
    border-radius: 10px;
    border: 1px dotted purple;
    font-size: medium;
    font-weight: 600;
}

.noCategories{
    text-align: center;
    width: 100%;
    margin: auto;
    font-weight: 600;
    color: rgb(57, 3, 108);
}