.EntryFormCard{
    display: block;
    margin: 0.2rem;
    border-radius: 10px;
    padding: 0.3rem;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.btnHeader{
    text-align: center;
}

.btnHeader button{
    color: white;
    background-color: whitesmoke;
    padding: 0.4rem;
    margin: 0.2rem;
    border-radius: 10px 0;
    color: rgb(92, 9, 169);
    border: 2px solid purple;
    font-weight: 700;
    transition: 0.3s all linear;
    cursor: pointer;
}

.btnHeader button:hover{
    background-color: rgb(161, 85, 232);
    color: white;
    z-index: 10;
}

.selectedBtn{
    background-color: rgb(161, 85, 232);
    color: white;
}