@import url('https://fonts.googleapis.com/css?family=Audiowide');
@import url('https://fonts.googleapis.com/css?family=Kavoon');
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
}

:root {
  --icon-background: rgb(119, 3, 187);
  /* --icon-background: black; */
  --form-input-color: rgb(97, 0, 153);
  --icon-color: white;
  --global-background-color: rgb(255, 255, 255);
}

a {
  color: inherit;
  text-decoration: none;
}

html{
  background-repeat: no-repeat;
  font-family: 'Roboto';
  background-color: var(--global-background-color);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  min-width: 450px;
}

html::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}
