.mainContent{
    padding: 0.6rem;
}

/* Section 1 */

.sectionOne{
    width: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 1rem;
    border-radius: 10px;
}

.sectionOne .statement{
    width: 50%;
}


.sectionOne .statement h1{
    color: blueviolet;
    text-align: start;
    justify-self: start;
    font-size: 3rem;
}

.sectionOne .statement p{
    font-weight: 600;
    font-size: large;
    margin: 1rem 0;
    text-align: center;
}

.analyticImg {
    object-fit: fill;
    width: 35rem !important;
    position: unset !important;
}



/* Section 2 */

.sectionTwo{
    border-radius: 10px;
    padding: 1rem;
}

.sectionTwo h1{
    text-align: center;
    font-size: 3rem;
}

.sectionTwo .aboutContainer{
    display: flex;
    padding: 1rem;
    margin-top: 10px;
    gap: 1rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.aboutCard{
    background-color: rgb(248, 249, 254);
    border-radius: 10px;
    padding: 1rem;
    flex: 0.5 0.5 auto;
    width: 30%;
    font-weight: 600;
    border: 1px solid rgb(184, 231, 231);
    box-shadow: 5px 5px 5px 0 rgb(127, 126, 126);
}

.cardIcon {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 2px;
    border: 2px solid red; 
    border-radius: 50%; 
    overflow: hidden;
}

.aboutCard h3{
    color: rgb(135, 18, 245);
    margin: 0.8rem 0;
}


/* Section 3 */


.sectionThree{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.section3Data{
    width: 30%;
}

.section3AnalyticImg {
    width: min(100%, 50rem) !important;
    height: min(100%, 50rem) !important;
    padding: 0;
    margin: 0;
    position: unset !important;
}

.section3Data h1{
    font-size: 4rem;
    margin: 1rem 0;
}

.section3Data p {
    font-weight: 500;
    padding: 1 2rem;
    font-size: 1.3rem;
    text-align: center;
}


/* Section 4 */

.sectionFour{
    text-align: center;
    display: block;
}

.sectionFour h1 {
    font-size: 4rem;
    margin: 1rem;
}

.featureCards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 2rem;
}

.featureCard{
    padding: 1rem;
    background-color: rgb(243, 247, 253);
    width: 400px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 0 rgb(127, 126, 126);
    margin: 1rem;
}

.featureCard h3 {
    font-size: 2rem;
    margin: 1rem 0;
    color: rgb(68, 68, 208);
}

.featureCard p {
    font-weight: 600;
    margin: 1rem 0;
}



@media all and (width > 720px) and (width<1300px){
    .sectionTwo h1{
        font-size: 1.5rem;
    }

    .sectionTwo .aboutContainer{
        flex-wrap: wrap;
        align-items: stretch;
    }

    .section3AnalyticImg {
        width: 30rem;
        height: 30rem;
    }
}


@media all and (width<720px){
    .sectionOne{
        flex-direction: column-reverse;
        transition: 1s all linear;
    }

    .sectionOne .statement{
        width: 95%;
    }

    .sectionOne .analyticImg{
        width: 90% !important;
    }
    
    .sectionOne .statement h1{
        font-size: 2rem;
        width: 100%;
    }

    .sectionOne .statement p{
        font-size: large;
        width: 90%;
    }

    .sectionTwo .aboutContainer{
        flex-direction: column;
    }

    .sectionTwo h1{
        font-size: 2rem;
    }

    .aboutCard{
        width: 90%;
    }

    .sectionThree{
        flex-direction: column;
    }

    .section3Data h1{
        font-size: 2rem;
    }

    .section3Data{
        width: 90%;
    }


    .section3AnalyticImg{
        width: 100%;
    }

    .sectionFour h1{
        font-size: 2rem;
    }

    .featureCards{
        flex-direction: column;
        align-items: center;
    }
}