.mainContent{
    width: 50%;
    text-align: center;
    margin: auto;
}

.welcomeHeader{
    color: rgb(164, 20, 254);
    margin: 1rem;
    text-align: center;
}

.paraContent{
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    text-align: center;
    color: var(--rt-text-color);
    margin: 1rem;
}


.signupLink{
    color: var(--rt-text-color);
    font-family: Arial, Helvetica, sans-serif, Times, serif;
    margin: 1rem;
    font-weight: 700;
}

.linktoSignUp{
    cursor: pointer;
    text-decoration: underline;
    color: rgb(12, 12, 246);
    font-weight: 700;
}

.signInForm{
    padding: 1rem;
    border: 2px solid rgb(52, 52, 51);
    width: 80%;
    border-radius: 1rem;
    margin: auto;
    text-align: left;
    box-shadow: var(--card-box-shadow);
}

.signInFormHeader{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    text-shadow: 2px 2px rgb(208, 210, 208);
    color: var(--header-color);
    text-decoration: solid;
    text-align: center;
    margin-bottom: 1rem;
}

.formGroup{
    display: block;
}

.formLabel{
    color: var(--input-label-color);
    font-weight: 700;
    font-size: large;
    display: block;
    margin: 0.4rem 0;
}

.inputField{
    width: 100%;
    height: 2rem;
    border-radius: 0.4rem;
    padding: 0.2em;
    font-weight: 600;
    color: var(--form-input-color);
    background-color: var(--global-background-color);
    margin: 0.4rem 0;
    border: 2px solid rgb(130, 4, 227);
}

.inputField:focus{
    border: 2px solid rgb(255, 0, 255);
    outline: none;
}

.submitBtn{
    font-size: 1rem;
    font-weight: 700;
    padding: 0.5rem;
    width: 100%;
    margin: 0.5rem 0;
    border-radius: 0.5rem;
    cursor: pointer;
    color: white;
    background-color: rgb(135, 38, 232);
}

.signInForm hr {
    height: 3px;
    margin: 1rem 0;
    background-color: var(--header-color);
}

.socialAuth{
    text-align: center;
}

.socialAuth p{
    font-weight: 600;
    color: var(--rt-text-color);
}

.socialBtn{
    margin: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    color: rgb(255, 255, 255);
    width: 35%;
    border-radius: 0.5rem;
    cursor: pointer;
}

.googleBtn{
    border: 2px solid white;
    background-color: orangered;
}

.githubBtn{
    border: 2px solid white;
    background-color: black;
}


@media all and (width < 720px){
    .mainContent{
        width: 100%;
    }
}